html,
body {
  margin: 0;
  font-family: Montserrat;
  height: 100%;

}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  position: relative;

}

.cards-img-desktop{
  height: 100%;
}
input {
  padding: 2px;
  box-sizing: border-box;
}

.form form .name-field,
.num-field {
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  position: absolute;
  padding: 15px 12px 15px 14px;
  background-color: transparent;
  border: 0px solid;

}

.form form .month-field,
.year-field {
  padding: 15px 12px 15px 14px;
  width: 100%;
  height: 50px;
  text-align: center;
  position: absolute;
  background-color: transparent;
  border: 0px solid;
  outline: #FFF;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cvc .cvc-field {
  padding: 15px 12px 15px 12px;
  margin-left: 2px;
  background-color: transparent;
  border: 0px solid;
  height: 50px;
}

.custom-border {
  position: relative;
  border-image-slice: 1;
  border-radius: 20px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #6A5ACD, #FF7F50);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 50px;

}

.custom-border-datetime {
  position: relative;
  border-image-slice: 1;
  border-radius: 20px;
  outline: none;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #6A5ACD, #FF7F50);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 50px;
  width: 90px;
}

.custom-border-cvc {
  position: relative;
  border-image-slice: 1;
  border-radius: 20px;
  border: double 2px transparent;
  background-image: linear-gradient(white, white), linear-gradient(to right, #6A5ACD, #FF7F50);
  background-origin: border-box;
  background-clip: content-box, border-box;
  height: 50px;
  width: 220px;
}
.date-input-field{
  outline: none;
}
textarea:focus,
input:focus {
  outline: none;
}

.form form input:focus,
.form form input:active,
.form form input:focus-within {
  /*border-image: linear-gradient(to left, hsl(249deg, 99%, 64%), hsl(278deg, 94%, 30%)) 1;
  */
  background-color: transparent;
  border: 0px solid;
}


.cards {
  position: relative;
  flex-basis: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.cards .card-front {
  display: grid;
  position: absolute;
  display: inline-block;
  top: 20%;
  left: 80%;
  transform: translate(-70%, 0);
  width: 400px;
  height: 200px;
  flex-shrink: 0;

}

.card-text {
  width: 80%;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;

}

.logo {
  margin-top: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo-big.rectango {
  width: 50px;
  height: 50px;
  margin-left: 32px;
  background: #F5F5F5;
}

.logo-small.rectango {
  border: 2px solid #F5F5F5;
  width: 29px;
  height: 29px;
  margin: 5px;
}

.cards .card-front .card-num {
  margin-left: 36px;
  color: #F5F5F5;
  margin-top: 40px;
  font-size: 24px;
}

.cards .card-front .holder-name {
  font-weight: 400;
  margin-left: 32px;
  color: #F5F5F5;
  font-size: 16px;
  position: absolute;
}

.cards .card-front .expire-date {
  margin-left: 128px;
  font-weight: 400;
  color: #F5F5F5;
  font-size: 16px;
  position: absolute;
  transform: translateX(200px) translateY(0px);

}

.name-date {
  margin-top: 13px;
  width: 200px;
}


.cards .card-back {
  display: grid;
  position: absolute;
  left: 78%;
  top: 48%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 200px;
  flex-shrink: 0;
  padding: 1.5rem;

}

.cards .card-back .cvc {
  position: absolute;
  left: 89%;
  top: 51%;
  font-weight: 400;
  color: #F5F5F5;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.name, 
.number{
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin: auto;
}

.form form {
  display: grid;
  width: 100%;
}

.field-title {
  margin-bottom: 10px;
  color: #808080;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.two-column {
  display: flex;
  gap: 10px;

}


.expire-cvc {
  display: flex;
  gap: 49px;
  align-items: center;
}


.form form .confirm {
  font-family: Roboto;
  font-size: 16px;
  margin-top: 50px;
  font-weight: 700;
  background: #3A0652;
  border-radius: 15px;
  color: #FFF;
  padding: 21px 20px 20px 20px;
  cursor: pointer;
}
.invalid-input {
  border-color: hsl(0, 100%, 66%) !important;
}
.name-warn,
.number-warn,
.expire-month-year-warn,
.cvc-warn {
  font-size: 11px;
  margin-top: 0.2rem;
  color: hsl(0deg, 100%, 66%);
  display: none;
}

.completion-message {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  max-width: 18rem;
}

.completion-message img {
  margin-bottom: 1.5rem;
}

.completion-message h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.completion-message p {
  color: hsl(279deg, 6%, 55%);
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.completion-message button {
  border: none;
  background-color: hsl(278deg, 68%, 11%);
  color: white;
  width: 100%;
  padding-block: 0.5rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.completion-message button:hover {
  filter: brightness(1.2);
}

@media screen and (max-width: 400) {

  .custom-border-datetime {
    width: 70px;
    margin-left: 25px;
  }

  .cvc {
    margin-left: 10px;
  }

  .custom-border-cvc {
    width: 150px;
    margin-right: 20px;
  }

  .field-title {
    font-size: 12px;
    margin-left: 25px;
  }

  .two-column {
    gap: 0px;
  }
  .form form .confirm {
    border-radius: 10px;
    background: #21092F;
    padding: 16px 128px;

  }
}

@media screen and (max-width: 768px) {
  .container {
    height: initial;
    max-width: 100%;
    display: block;
    overflow: hidden;
  }
 .form{
  padding: 0 40px;
 }
 
  .field-title {
    font-size: 14px;
  }
  
  .form form .name-field,
  .num-field {
    height: 40px;
    font-size: 14px;
    width: 70%;
    padding: 8px 10px;
  }
  .cvc .cvc-field {
    padding: 8px 10px;
    font-size: 14px;
    height: 40px;
  }
  .card-back-img, 
  .card-front-img{
    
    width: 350px;
    height: 200px;
  }
  .form form .month-field,
  .year-field {
    height: 40px;
    font-size: 14px;
    width: 70%;
    padding: 8px 10px;
  }

  .cards-img-desktop {
    overflow: hidden;
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: flex;
    justify-content: center;
  }


  .cards .card-front {
    top: 64%;
    left: 54%;
    width: 288px;
    height: 177px;

  }
  .cards .card-back {
    left: 48%;
    top: -1%;
    width: 288px;
    height: 160px;

  }

  .card-text {
    top: 9%;
    left: 8%;
    width: 89%;
    margin-left: 25px;
    display: flex;

  }
  

  .logo {
    margin-top: 12px;
    display: flex;
    gap: 5px;
    align-items: center;
  }

  .logo-big.rectango {
    width: 40px;
    height: 40px;
    margin-left: 0;
    background: #F5F5F5;
    border-radius: 50px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .logo-small.rectango {
    border: 2px solid #F5F5F5;
    width: 20px;
    height: 20px;
    margin: 0px;
    border-radius: 50px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  }

  


  .cards .card-front .card-num {
    font-size: 16px;
    margin-top: 30PX;
    margin-left: 0;
  }

  .cards .card-front .holder-name {
    font-size: 16px;
    margin-left: 0;
  }

  .cards .card-front .expire-date {
    margin-left: 0;
    margin-top: 4px;
    font-size: 12px;}

  .name-date {
    display: flex;
    position: relative;
   
    margin-top: 16px;

  }

 

  .cards .card-back .cvc {
    left: 81%;
    top: 45%;
    font-size: 16px;
  }

  .cvc {
    margin-left: 20px;
  }

  .custom-border,
  .custom-border-datetime,
  .custom-border-cvc {
    border-radius: 10px;
    width: 100%;
    height: 41px;
  }

  .form form {
    display: flex;
    flex-direction: column;
  } 

  .name-warn,
  .number-warn,
  .expire-month-year-warn,
  .cvc-warn {
    font-size: 9px;
    color: hsl(0deg, 100%, 66%);

  }

  .expire-cvc {
    gap: 1px;
  }

  .form form .confirm {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: #21092F;
    padding: 16px 128px;
    margin-top: 24px;

  }

  form {
    margin-left: 0px;
    margin-top: 125px;

  }

  .completion-message {
    margin-top: 100px;
    width: 90%;

  }
  .custom-border-datetime{
    width: 72px;
  }
  .cvc .cvc-field{
    width: 100%;
  }
}